pip>=21.3.1
bump2version==1.0.1
wheel==0.46.1
watchdog[watchmedo]==6.0.0
flake8>=3  # pyup: ignore
tox==4.27.0
Sphinx==8.3.0
twine==6.1.0
# Test / Benchmark requirements
codecov==2.1.13
coverage>=6.2
pytest==8.4.1
pytest-benchmark[histogram]==5.1.0
pytest-cov==6.2.1
dataclass-wizard==0.35.0  # for loading dict to nested dataclass
# Benchmarks
dict2dot==0.1
dotmap==1.3.30
dotsi==0.0.3
dotted-dict==1.1.3
dotty-dict==1.3.1
addict==2.4.0
metadict==0.1.2
prodict==0.8.20
python-box==7.3.2
glom==24.11.0
scalpl==0.4.2
